{#
/**
 * @file
 * Template for social media links.
 *
 * Available variables:
 * - content: All block items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}.
 *     .urls: Array of social media links.
 *         .url: URL address of the social media service.
 *         .icon: Icon file of the social media service.
 *
 * @see template_preprocess_field()
 */
#}
{% block content %}
  {% if content.banner.display == TRUE %}
    <a href='{{ content.banner.url }}'>
      {% if content.banner.level == 'high' %}
        <span class="alert-icon" aria-hidden="true">{{ source(content.banner.icons.alert) }}</span>
      {% endif %}  
      <div class='banner-background {{ content.banner.level }}'>
        <div class='container'>
          {{ content.banner.text }}
          <span class="more-icon" aria-hidden="true">{{ source(content.banner.icons.link) }}</span>
        </div>
      </div>
    </a>
  {% endif %}
{% endblock %}
