.block-citrus-banner {
  width: 100%;
  position: relative;
}

.block-citrus-banner .alert-icon {
  position: absolute;
  left: 45px;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .block-citrus-banner .alert-icon {
    display: none;
  }
  .block-citrus-banner a {
    font-size: 14px;
  }
}

.block-citrus-banner svg {
  height: 100%;
}

.block-citrus-banner a {
  color: white;
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .block-citrus-banner a {
    font-size: 14px;
  }
}

.block-citrus-banner p {
  align-self: center;
  margin-bottom: 0;
}

.block-citrus-banner a:hover {
  text-decoration: none;
  color: white;
}

.block-citrus-banner .banner-background {
  width: 100%;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
}

.block-citrus-banner .low {
  background: green;
}

.block-citrus-banner .low:hover {
  background-color: #016a01;
}

.block-citrus-banner .medium  {
  background-color: #fdbc00;
  color: black;
}

.block-citrus-banner .medium svg path{
  fill: black;
}

.block-citrus-banner .medium:hover {
  background-color: #e6ac04;
}


.block-citrus-banner .high {
  background: #DF340E;
}

.block-citrus-banner .high:hover {
  background: #CA2D0B;
}

.block-citrus-banner .banner-background .container {
  display: flex;
  justify-content: space-between;
}
