{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @see template_preprocess_block()
 */
#}

{% block content %}

  <div class="footer-wrapper row">
    <div class="footer-logo-wrapper col-12  col-sm-6 col-lg-3">
      <img src="{{ content.footer_logo }}" alt="Logo">
    </div>
    <div class="footer-text-wrapper col-12  col-sm-6 col-lg-6">
      {{ content.footer_text }}
    </div>
    <div class="footer-some-wrapper col-12  col-sm-12 col-lg-3">
      <a href="{{ content.some_facebook }}">
        <img src="/modules/custom/citrus_content/icons/facebook.svg" alt="Facebook icon">
      </a>
      <a href="{{ content.some_ig }}">
        <img src="/modules/custom/citrus_content/icons/instagram.svg" alt="Facebook icon">
      </a>
      <a href="{{ content.some_yt }}">
        <img src="/modules/custom/citrus_content/icons/youtube.svg" alt="Facebook icon">
      </a>
      <a href="{{ content.some_twitter }}">
        <img src="/modules/custom/citrus_content/icons/twitter.svg" alt="Facebook icon">
      </a>

      {# No icon yet
      {{ content.some_yt }}
      #}
    </div>
  </div>


  {% if content.links.url is not empty and content.links.text is not empty %}
    <a class="btn btn-warning order-newsletter" href="{{ content.links.url }}" target="_blank">
      {{ content.links.text }}
    </a>
  {% endif %}
{% endblock %}
